__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ambiente_config/

.env
*.log

# Credenciais locais do login
app/shared/security/login_credentials.py
app/shared/security/login_credentials.local.py

build/
dist/

*.db
*.sqlite
*.sqlite3

uploads/
exports/
assets/

.idea/
.vscode/
.DS_Store
Thumbs.db
